# 1. One-hot encoding 연습: edge 데이터중 범주형 데이터(weight_sign 칼럼/feature)를 One-hot encoding하여 수치형 데이터로 변환하시오.

In [1]:
import pandas as pd

In [2]:
edges = pd.DataFrame({'source': [0, 1, 2], 'target': [2, 2, 3],
                      'weight': [3, 4, 5], 'color': ['red', 'blue', 'blue']})
edges

   source  target  weight color
0       0       2       3   red
1       1       2       4  blue
2       2       3       5  blue

In [3]:
weight_dict = {3:"M", 4:"L", 5:"XL"}
edges["weight_sign"] = edges["weight"].map(weight_dict)

In [5]:
edges

In [8]:
weight_sign = pd.get_dummies(edges) # 이 부분을 완성하여, 다음과 같은 결과가 출력되도록 하시오.
weight_sign

,source,target,weight,color_blue,color_red,weight_sign_L,weight_sign_M,weight_sign_XL
0,0,2,3,False,True,False,True,False
1,1,2,4,True,False,True,False,False
2,2,3,5,True,False,False,False,True

<img src="" width=200>

---

# 2. Feature Scaing 연습: GRE, GPA 칼럼/feature 에 대해 Standarization을 수행하시오.
* Admission data is a record of UCLA college admission based on GRE score, GPA, and Prestige.

* Load the Admssion.csv dataset and check the variables.

 - Download dataset https://drive.google.com/file/d/1mMm8j_mGZvy67ajp3PP_5aiXsn8ezOx1/view?usp=sharing

 - Feature list

    - admit: A binary variable divided into pass (admit = 1) and fail (admit = 0)
    - gre: Grade Record Examination (GRE) score
    - gpa: Grade Point Average (GPA) grade point average
    - prestige: It's from high school. (prestige = 1 is the best school, prestige = 4 is the worst school)
    - gre and gpa are numerical data, and prestige is categorical data. admit is binary categorical data

* **Scaling the GRE & GPA features using the sklearn Standard Scaler**

# Complete the code below

In [11]:
from google.colab import drive
# drive.mount('/content/drive/')
# data_path='/content/drive/MyDrive/Colab Notebooks/.../admssion.csv'  # Change to Your own path

ModuleNotFoundError: No module named 'google'

In [15]:
import numpy as np
import pandas as pd
data_path = '/Users/jihunjang/workspace/ust/bigdata/lecture/11/admssion.csv'

In [16]:
adm_df = pd.read_csv(data_path)
adm_df.head()
adm_df.shape

(397, 4)

In [21]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scale_target = ['gre', 'gpa']
adm_df[scale_target] = scaler.fit_transform(adm_df[scale_target])
adm_df

     admit       gre       gpa  prestige
0        0 -1.798524  0.573457         3
1        1  0.624209  0.731464         3
2        1  1.835576  1.600504         1
3        1  0.451157 -0.532595         4
4        0 -0.587158 -1.217294         4
..     ...       ...       ...       ...
392      0  0.278104  1.600504         2
393      0 -0.241053 -0.927613         3
394      0 -1.106315 -2.007330         2
395      0  0.970314  0.678795         2
396      0  0.105052  1.310824         3

[397 rows x 4 columns]